* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  width: 100%;
  margin: 0;
}

p {
  font-size: 20px;
  line-height: 2rem;
  color: rgb(79, 79, 79);
}

h1 {
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 1.1rem;
}

table {
  margin: 0 auto;
  border-spacing: 0;
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
  width: 40rem;
}

th {
  text-align: left;
  font-size: 20px;
  padding: 1rem 2rem;
  padding-bottom: 0;
}
td {
  width: 50%;
  border-top: 1px solid rgb(193, 193, 193);
  padding: 1rem 2rem;
}

.purple {
  color: #4f46e5;
}

.container {
  padding: 0 15rem;
}

.nav-container {
  padding: 0 15rem;
  border-bottom: 1px solid rgb(235, 235, 235);
}

.weather-container {
  padding: 3rem 15rem;
  background-color: rgb(247, 247, 247);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.nav-items {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.nav-item {
  padding: 0 2rem;
}

.logo > img {
  width: 3rem;
}

button {
  padding: 12px 16px;
  border-radius: 6px;
  border: none;
}

button:hover {
  cursor: pointer;
}

.button-dark {
  margin-left: 0.75rem;
  color: white;
  background-color: #4f46e5;
}

.button-light {
  color: #4f46e5;
  background-color: white;
}

.hero {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.hero-copy {
  margin: auto 0;
  width: 50%;
}

.hero-image {
  width: 50%;
}
.hero-image > img {
  max-width: 100%;
}

.margin-0 {
  margin: 0;
}

.table-header {
  width: 100%;
  padding-bottom:10px
}

.table-header > p {
  font-size: 16px;
  margin: 0;
  padding: 6px 32px
}

.center {
  padding: 2rem;
  text-align: center;
}

.footer > p{
  text-align: center;
  color: rgb(172, 172, 172);
  font-size: 14px;
}

.banner {
  text-align:center;
  align:center;
  padding:10px 0;
  margin:0 5px;
  border: 1px #f00 solid

}

.banner a {
  text-decoration:none;
  color:red
}

.modal {
  background: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px #f00 solid;
  text-align: center;
  padding:20px
}

.modalContent {
  padding: 120px;
  font-size: 24px;
  text-align: center;
}